@import url('https://fonts.google.com/specimen/Poppins?query=poppins');


:root {
    --purple--soft: #8a2be2;
    --purple--medium: #892be29c;
    --purple--dark: #892be294;

    --color-gradient: linear-gradient(90deg, var(--purple--soft), var(--purple--medium), var(--purple--dark));
}

* {
    font-family: 'poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container {
    background: var(--color-gradient);
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#login_form {
    background-color:  #ffffffcc;
    display: flex;
    flex-direction: column;
    padding: 30px 40px;
    border-radius: 10px;
    gap: 30px;
    box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.5);
}

#form_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#form_header h1 {
    font-size: 40px;
    position: relative;
}

#moon_icon {
    cursor: pointer;
    font-size: 20px;
}

#moon_icon:hover {
    transform: scale(1.2);
}

#form_header h1::before {
    position: absolute;
    content: '';
    width: 45%;
    background-color: var(--purple--dark);
    height: 3px;
    bottom: 5px;
    border-radius: 20px;
}

#input_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    gap: 30px;  
    border: none;
}


#input_box input {
    border: none;
    border-radius: 10px;

} 

#input-box input:focus {
    outline: none;
}

#login_button {
    background: var(--color-gradient);
    border: none;
    padding: 5px;
    cursor: pointer;
    border-radius: 10px;
}
